body{
    background-color: antiquewhite;
}

.header{
    color: black;
    text-align: center;
    font-size: 3rem;
}

.conteiner{
    width: 80%;
    margin: auto;
    padding: 10px;

}

.row{
    display: flex;
}

.column{
    width: 40vw;
    margin: 0 20px;
    border: 1px solid grey;


}

.column1{
   height: 20vh;
   background-color: deeppink;
   justify-content: center;
   text-align: center;
   font-size: 2rem;
   color: white;

}

@media(max-width:1000px){
    h2{
        font-size: 1rem;
    }
}

@media(max-width:500px){
    h2{
        font-size: 8px;
    }
}

.column2{
    height: 30vh;
    background-color: white;
    justify-content: center;
    text-align: center;
}

button{
    width: 10vw;
    height: 5vh;
    background-color:deeppink;
    margin-top: 10px;
}

button:hover{
    background-color: red;
    cursor: pointer;
}

@media(max-width:800px){
    button{
        width: 5pw;
        height: 3vh;
        font-size: 8px;
    }
}

@media(max-width:600px){
    button{
        width: 2vw;
        height: 2vh;
        font-size: 3px;
    }
}


@media(max-width:970px){
    p{
        font-size: 8px;
    }
}

@media(max-width:500px){
    p{
        font-size: 5px;
    }
}